.app-header {
  padding: govuk-spacing(2) 0;
  @include govuk-typography-common;
  background-color: govuk-colour('black');
  margin-bottom: 0;
  position: relative;
  border-bottom: govuk-spacing(2) solid $govuk-brand-colour;
  color: govuk-colour('white');

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4) 0;
  }
}

.app-header .govuk-width-container {
  @include govuk-media-query($from: desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.app-header__title {
  display: inline-flex;
  align-items: center;
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
}

.app-header__crest {
  margin-right: govuk-spacing(4);
  width: 66px;
}

.app-header__title-text {
  @include govuk-font(19, bold);
}

.app-header__service-name {
  margin-top: govuk-spacing(1);
}

.app-header__link {
  @include govuk-link-style-inverse;
  @include govuk-link-style-no-underline;
}

.app-header__link:hover {
  text-decoration: none;
}

.app-header__link:focus {
  @include govuk-focused-text;
}

.app-header__auth {
  @include govuk-media-query($from: desktop) {
    text-align: right;
  }
}

.app-header__link--underline {
  @include govuk-link-style-inverse;
}

.app-header__link--underline:focus {
  @include govuk-focused-text;
}
