<footer class="app-footer">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop">
        <div class="app-footer__logo">
          <img aria-hidden="true" class="app-footer__logo-img" src="{{ assetPath }}/images/kbrinl-logo.png">
          <span class="app-footer__logotype">
            <span class="govuk-!-font-weight-bold">
            Kedutaan Besar<br aria-hidden="true">
            Republik Indonesia<br aria-hidden="true">
            </span>
            Den Haag, Belanda
          </span>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <a rel="license" class="govuk-footer__link" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" src="{{ assetPath }}/images/cc-icon.png"></a><br>
            Copyright © {{ copyrightYear }} Indonesia.nl. <br>
      </div>
    </div>
  </div>
</footer>